body {
    background-image: url('../img/img-fond.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: red;
}

.zone-enretud {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.zone-title {
    height: 90px;
    font-size: 22px;
    font-weight: bold;
    background-color: rgba(105, 93, 93, 0.568);
}

.form {
    width: 70%;
    height: 50px;
    background-color: rgb(36, 138, 50);
}

.card-form {
    background-color: rgba(110, 55, 55, 0.425);
    width: 70%;
    height: 400px;
    float: left;
}

.table {
    background-color: rgba(110, 55, 55, 0.425);
}